<header class="st-glb_pageHeader">
  <h1 class="st-glb_pageHeader-title">
      タイトル
  </h1>
  <!-- /.st-glb_pageHeader-title -->
  <p class="st-glb_pageHeader-description">
    テキスト
  </p>
  <!-- /.st-glb_pageHeader-description -->
</header>
<!-- /.st-glb_pageHeader -->
