<header class="st-glb_pageHeader">
  <h1 class="st-glb_pageHeader-title">
      タイトル
  </h1>
  <!-- /.st-glb_pageHeader-title -->
  <p class="item">
    テキストだよよ
  </p>
<a href="./news">お知らせ</a>
  <!-- /.st-glb_pageHeader-description -->
</header>
<!-- /.st-glb_pageHeader -->
